In [36]:
import pandas as pd
import numpy as np

# Read datasets
cpi = pd.read_csv('./inflationIndicatorsUpdates/cpi_data.csv')
cpi_base = pd.read_csv('./inflationIndicatorsUpdates/CPI.csv')
IR = pd.read_csv('./inflationIndicatorsUpdates/InterestRate.csv')
gdp = pd.read_csv('./inflationIndicatorsUpdates/GDP.csv')
eu = pd.read_csv('./inflationIndicatorsUpdates/EUR_USD.csv')
Ir = pd.read_csv('./inflationIndicatorsUpdates/RealInterestRate.csv')
er_usd = pd.read_csv('./inflationIndicatorsUpdates/ExchangeRate_usd.csv')
er_eur = pd.read_csv('./inflationIndicatorsUpdates/ExchangeRate_eur.csv')
unem = pd.read_csv('./inflationIndicatorsUpdates/UnemploymentRate.csv')
xau = pd.read_csv('./inflationIndicatorsUpdates/XAU_me.csv')

# Convert 'year', 'month', and 'day' columns to integers
er_usd['year'] = er_usd['year'].astype(int)
er_usd['month'] = er_usd['month'].astype(int)
er_usd['day'] = er_usd['day'].astype(int)

eu['year'] = eu['year'].astype(int)
eu['month'] = eu['month'].astype(int)
eu['day'] = eu['day'].astype(int)

er_eur['year'] = er_eur['year'].astype(int)
er_eur['month'] = er_eur['month'].astype(int)
er_eur['day'] = er_eur['day'].astype(int)


cpi['year'] = cpi['year'].astype(int)
cpi_base['year'] = cpi_base['year'].astype(int)
Ir['year'] = Ir['year'].astype(int)
xau['year'] = xau['year'].astype(int)
xau['month'] = xau['month'].astype(int)
xau['day'] = xau['day'].astype(int)

IR['year'] = IR['year'].astype(int)

gdp['year'] = gdp['year'].astype(int)

unem['year'] = unem['year'].astype(int)

er_usd.set_index(['year', 'month', 'day'], inplace=True)

# Merge datasets based on year, month, and day from er_usd DataFrame
InflationIndicator_df = (
    pd.merge(er_usd, er_eur, on=['year', 'month', 'day'], how='left', suffixes=('_usd', '_eur'))
    .merge(eu, on=['year', 'month', 'day'], how='left', suffixes=('_usd', '_eu'))
    .merge(cpi, on=['year'], how='left', suffixes=('_usd', '_cpi'))
    .merge(cpi_base, on=['year'], how='left', suffixes=('_usd', '_cpi'))
    .merge(Ir, on=['year'], how='left', suffixes=('_usd', '_ir'))
    .merge(xau, on=['year', 'month', 'day'], how='left', suffixes=('_usd', '_xau'))
    .merge(IR, on=['year'], how='left', suffixes=('_usd', '_ir'))
    .merge(gdp, on=['year'], how='left', suffixes=('_usd', '_gdp'))
    .merge(unem, on=['year'], how='left', suffixes=('_usd', '_unem'))
)


# Optionally, sort the combined DataFrame by the 'year', 'month', and 'day' columns
InflationIndicator_df.sort_values(['year', 'month', 'day'], inplace=True)





# Display the first few rows of the combined DataFrame
print(InflationIndicator_df.head(60))

    year  month  day  EGP_usd     USD  EGP_eur  EUR  EUR/USD  cpi_rate  \
0   1990      5   31        1  2.6892      NaN  NaN   1.2117       NaN
1   1990      6    1        1  2.6892      NaN  NaN   1.2096       NaN
2   1990      6    4        1  2.6967      NaN  NaN   1.2167       NaN
3   1990      6    5        1  2.6967      NaN  NaN   1.2188       NaN
4   1990      6    6        1  2.6967      NaN  NaN   1.2170       NaN
5   1990      6    7        1  2.6892      NaN  NaN   1.2136       NaN
6   1990      6    8        1  2.6892      NaN  NaN   1.2113       NaN
7   1990      6   11        1  2.6967      NaN  NaN   1.2138       NaN
8   1990      6   12        1  2.6992      NaN  NaN   1.2195       NaN
9   1990      6   13        1  2.7092      NaN  NaN   1.2167       NaN
10  1990      6   14        1  2.7092      NaN  NaN   1.2248       NaN
11  1990      6   15        1  2.7092      NaN  NaN   1.2184       NaN
12  1990      6   18        1  2.7167      NaN  NaN   1.2305       NaN
13  1990      6   19        1  2.7067      NaN  NaN   1.2344       NaN
14  1990      6   20        1  2.7067      NaN  NaN   1.2306       NaN
15  1990      6   21        1  2.7067      NaN  NaN   1.2307       NaN
16  1990      6   22        1  2.7192      NaN  NaN   1.2320       NaN
17  1990      6   25        1  2.7092      NaN  NaN   1.2302       NaN
18  1990      6   26        1  2.7092      NaN  NaN   1.2350       NaN
19  1990      6   27        1  2.7092      NaN  NaN   1.2395       NaN
20  1990      6   28        1  2.7192      NaN  NaN   1.2374       NaN
21  1990      6   29        1  2.7192      NaN  NaN   1.2365       NaN
22  1990      7    2        1  2.7192      NaN  NaN   1.2465       NaN
23  1990      7    3        1  2.7192      NaN  NaN   1.2506       NaN
24  1990      7    4        1  2.7167      NaN  NaN   1.2561       NaN
25  1990      7    5        1  2.7167      NaN  NaN   1.2535       NaN
26  1990      7    6        1  2.7167      NaN  NaN   1.2511       NaN
27  1990      7    9        1  2.7067      NaN  NaN   1.2565       NaN
28  1990      7   10        1  2.7067      NaN  NaN   1.2605       NaN
29  1990      7   11        1  2.7067      NaN  NaN   1.2540       NaN
30  1990      7   12        1  2.7167      NaN  NaN   1.2475       NaN
31  1990      7   13        1  2.7167      NaN  NaN   1.2603       NaN
32  1990      7   16        1  2.7067      NaN  NaN   1.2534       NaN
33  1990      7   17        1  2.7167      NaN  NaN   1.2580       NaN
34  1990      7   18        1  2.7167      NaN  NaN   1.2615       NaN
35  1990      7   19        1  2.7067      NaN  NaN   1.2630       NaN
36  1990      7   20        1  2.7067      NaN  NaN   1.2624       NaN
37  1990      7   23        1  2.7067      NaN  NaN   1.2740       NaN
38  1990      7   24        1  2.7092      NaN  NaN   1.2771       NaN
39  1990      7   25        1  2.7092      NaN  NaN   1.2775       NaN
40  1990      7   26        1  2.7067      NaN  NaN   1.2765       NaN
41  1990      7   27        1  2.7067      NaN  NaN   1.2835       NaN
42  1990      7   30        1  2.7167      NaN  NaN   1.2877       NaN
43  1990      7   31        1  2.7167      NaN  NaN   1.3047       NaN
44  1990      8    1        1  2.7067      NaN  NaN   1.3005       NaN
45  1990      8    2        1  2.7267      NaN  NaN   1.3009       NaN
46  1990      8    3        1  2.7167      NaN  NaN   1.2995       NaN
47  1990      8    6        1  2.7067      NaN  NaN   1.3157       NaN
48  1990      8    7        1  2.7167      NaN  NaN   1.3121       NaN
49  1990      8    8        1  2.7267      NaN  NaN   1.3048       NaN
50  1990      8    9        1  2.7267      NaN  NaN   1.3045       NaN
51  1990      8   10        1  2.7267      NaN  NaN   1.3050       NaN
52  1990      8   13        1  2.7167      NaN  NaN   1.3182       NaN
53  1990      8   14        1  2.7167      NaN  NaN   1.3245       NaN
54  1990      8   15        1  2.7067      NaN  NaN   1.3305       NaN
55  1990      8   16        1  2.7067      NaN  NaN   1.3265       NaN
56  1990      8   20        1  2.7067      NaN  NaN   1.3310       NaN
57  1990      8   21        1  2.7067      NaN  NaN   1.3224       NaN
58  1990      8   22        1  2.6967      NaN  NaN   1.3279       NaN
59  1990      8   23        1  2.6967      NaN  NaN   1.3335       NaN

    Unnamed: 0_usd        CPI  Unnamed: 0_ir  RealInterestRate  Unnamed: 0.1  \
0               30  19.147187           14.0          1.067535           NaN
1               30  19.147187           14.0          1.067535           NaN
2               30  19.147187           14.0          1.067535           NaN
3               30  19.147187           14.0          1.067535           NaN
4               30  19.147187           14.0          1.067535           NaN
5               30  19.147187           14.0          1.067535           NaN
6               30  19.147187           14.0          1.067535           NaN
7               30  19.147187           14.0          1.067535           NaN
8               30  19.147187           14.0          1.067535           NaN
9               30  19.147187           14.0          1.067535           NaN
10              30  19.147187           14.0          1.067535           NaN
11              30  19.147187           14.0          1.067535           NaN
12              30  19.147187           14.0          1.067535           NaN
13              30  19.147187           14.0          1.067535           NaN
14              30  19.147187           14.0          1.067535           NaN
15              30  19.147187           14.0          1.067535           NaN
16              30  19.147187           14.0          1.067535           NaN
17              30  19.147187           14.0          1.067535           NaN
18              30  19.147187           14.0          1.067535           NaN
19              30  19.147187           14.0          1.067535           NaN
20              30  19.147187           14.0          1.067535           NaN
21              30  19.147187           14.0          1.067535           NaN
22              30  19.147187           14.0          1.067535           NaN
23              30  19.147187           14.0          1.067535           NaN
24              30  19.147187           14.0          1.067535           NaN
25              30  19.147187           14.0          1.067535           NaN
26              30  19.147187           14.0          1.067535           NaN
27              30  19.147187           14.0          1.067535           NaN
28              30  19.147187           14.0          1.067535           NaN
29              30  19.147187           14.0          1.067535           NaN
30              30  19.147187           14.0          1.067535           NaN
31              30  19.147187           14.0          1.067535           NaN
32              30  19.147187           14.0          1.067535           NaN
33              30  19.147187           14.0          1.067535           NaN
34              30  19.147187           14.0          1.067535           NaN
35              30  19.147187           14.0          1.067535           NaN
36              30  19.147187           14.0          1.067535           NaN
37              30  19.147187           14.0          1.067535           NaN
38              30  19.147187           14.0          1.067535           NaN
39              30  19.147187           14.0          1.067535           NaN
40              30  19.147187           14.0          1.067535           NaN
41              30  19.147187           14.0          1.067535           NaN
42              30  19.147187           14.0          1.067535           NaN
43              30  19.147187           14.0          1.067535           NaN
44              30  19.147187           14.0          1.067535           NaN
45              30  19.147187           14.0          1.067535           NaN
46              30  19.147187           14.0          1.067535           NaN
47              30  19.147187           14.0          1.067535           NaN
48              30  19.147187           14.0          1.067535           NaN
49              30  19.147187           14.0          1.067535           NaN
50              30  19.147187           14.0          1.067535           NaN
51              30  19.147187           14.0          1.067535           NaN
52              30  19.147187           14.0          1.067535           NaN
53              30  19.147187           14.0          1.067535           NaN
54              30  19.147187           14.0          1.067535           NaN
55              30  19.147187           14.0          1.067535           NaN
56              30  19.147187           14.0          1.067535           NaN
57              30  19.147187           14.0          1.067535           NaN
58              30  19.147187           14.0          1.067535           NaN
59              30  19.147187           14.0          1.067535           NaN

    Unnamed: 0 XAU_Price  InterestRate  gdp_rate  UnemploymentRate
0          NaN       NaN           NaN  5.667029               NaN
1          NaN       NaN           NaN  5.667029               NaN
2          NaN       NaN           NaN  5.667029               NaN
3          NaN       NaN           NaN  5.667029               NaN
4          NaN       NaN           NaN  5.667029               NaN
5          NaN       NaN           NaN  5.667029               NaN
6          NaN       NaN           NaN  5.667029               NaN
7          NaN       NaN           NaN  5.667029               NaN
8          NaN       NaN           NaN  5.667029               NaN
9          NaN       NaN           NaN  5.667029               NaN
10         NaN       NaN           NaN  5.667029               NaN
11         NaN       NaN           NaN  5.667029               NaN
12         NaN       NaN           NaN  5.667029               NaN
13         NaN       NaN           NaN  5.667029               NaN
14         NaN       NaN           NaN  5.667029               NaN
15         NaN       NaN           NaN  5.667029               NaN
16         NaN       NaN           NaN  5.667029               NaN
17         NaN       NaN           NaN  5.667029               NaN
18         NaN       NaN           NaN  5.667029               NaN
19         NaN       NaN           NaN  5.667029               NaN
20         NaN       NaN           NaN  5.667029               NaN
21         NaN       NaN           NaN  5.667029               NaN
22         NaN       NaN           NaN  5.667029               NaN
23         NaN       NaN           NaN  5.667029               NaN
24         NaN       NaN           NaN  5.667029               NaN
25         NaN       NaN           NaN  5.667029               NaN
26         NaN       NaN           NaN  5.667029               NaN
27         NaN       NaN           NaN  5.667029               NaN
28         NaN       NaN           NaN  5.667029               NaN
29         NaN       NaN           NaN  5.667029               NaN
30         NaN       NaN           NaN  5.667029               NaN
31         NaN       NaN           NaN  5.667029               NaN
32         NaN       NaN           NaN  5.667029               NaN
33         NaN       NaN           NaN  5.667029               NaN
34         NaN       NaN           NaN  5.667029               NaN
35         NaN       NaN           NaN  5.667029               NaN
36         NaN       NaN           NaN  5.667029               NaN
37         NaN       NaN           NaN  5.667029               NaN
38         NaN       NaN           NaN  5.667029               NaN
39         NaN       NaN           NaN  5.667029               NaN
40         NaN       NaN           NaN  5.667029               NaN
41         NaN       NaN           NaN  5.667029               NaN
42         NaN       NaN           NaN  5.667029               NaN
43         NaN       NaN           NaN  5.667029               NaN
44         NaN       NaN           NaN  5.667029               NaN
45         NaN       NaN           NaN  5.667029               NaN
46         NaN       NaN           NaN  5.667029               NaN
47         NaN       NaN           NaN  5.667029               NaN
48         NaN       NaN           NaN  5.667029               NaN
49         NaN       NaN           NaN  5.667029               NaN
50         NaN       NaN           NaN  5.667029               NaN
51         NaN       NaN           NaN  5.667029               NaN
52         NaN       NaN           NaN  5.667029               NaN
53         NaN       NaN           NaN  5.667029               NaN
54         NaN       NaN           NaN  5.667029               NaN
55         NaN       NaN           NaN  5.667029               NaN
56         NaN       NaN           NaN  5.667029               NaN
57         NaN       NaN           NaN  5.667029               NaN
58         NaN       NaN           NaN  5.667029               NaN
59         NaN       NaN           NaN  5.667029               NaN

In [37]:
InflationIndicator_df

,year,month,day,EGP_usd,USD,EGP_eur,EUR,EUR/USD,cpi_rate,Unnamed: 0_usd,CPI,Unnamed: 0_ir,RealInterestRate,Unnamed: 0.1,Unnamed: 0,XAU_Price,InterestRate,gdp_rate,UnemploymentRate
0,1990,5,31,1,2.6892,NaN,NaN,1.2117,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
1,1990,6,1,1,2.6892,NaN,NaN,1.2096,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
2,1990,6,4,1,2.6967,NaN,NaN,1.2167,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
3,1990,6,5,1,2.6967,NaN,NaN,1.2188,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
4,1990,6,6,1,2.6967,NaN,NaN,1.2170,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10018,2024,3,21,1,46.9000,1.0,51.2148,NaN,33.066667,64,957.137145,NaN,NaN,1726.0,20.0,102533.85,27.25,NaN,NaN
10019,2024,3,22,1,46.7500,1.0,50.6619,NaN,33.066667,64,957.137145,NaN,NaN,1727.0,19.0,101756.42,27.25,NaN,NaN
10020,2024,3,25,1,46.7872,1.0,50.5648,NaN,33.066667,64,957.137145,NaN,NaN,1728.0,18.0,100904.45,27.25,NaN,NaN
10021,2024,3,26,1,47.4040,NaN,NaN,NaN,33.066667,64,957.137145,NaN,NaN,1729.0,17.0,102952.66,27.25,NaN,NaN
10022,2024,3,27,1,47.8222,NaN,NaN,NaN,33.066667,64,957.137145,NaN,NaN,1730.0,16.0,104194.83,27.25,NaN,NaN

In [38]:
InflationIndicator_df.columns

Index(['year', 'month', 'day', 'EGP_usd', 'USD', 'EGP_eur', 'EUR', 'EUR/USD',
       'cpi_rate', 'Unnamed: 0_usd', 'CPI', 'Unnamed: 0_ir',
       'RealInterestRate', 'Unnamed: 0.1', 'Unnamed: 0', 'XAU_Price',
       'InterestRate', 'gdp_rate', 'UnemploymentRate'],
      dtype='object')

In [40]:
cont = InflationIndicator_df[['year', 'month', 'day', 'EGP_usd', 'USD', "EUR", 'cpi_rate', 'CPI','RealInterestRate', 'InterestRate', 'XAU_Price', 'gdp_rate', 'UnemploymentRate', 'EUR/USD']]
cont = cont.rename( columns={ 'EGP_usd': 'USD_EUR_value', 'USD': 'USD_EGP', 'EUR': 'EUR_EGP', 'CPI': 'cpi_base_2010'})

In [41]:
cont.to_csv('./inflationIndicatorsUpdates/InflationIndicators.csv', index= False)

In [42]:
import pandas as pd
df = pd.read_csv('./inflationIndicatorsUpdates/InflationIndicators.csv')

In [43]:
df

,year,month,day,USD_EUR_value,USD_EGP,EUR_EGP,cpi_rate,cpi_base_2010,RealInterestRate,InterestRate,XAU_Price,gdp_rate,UnemploymentRate,EUR/USD
0,1990,5,31,1,2.6892,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2117
1,1990,6,1,1,2.6892,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2096
2,1990,6,4,1,2.6967,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2167
3,1990,6,5,1,2.6967,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2188
4,1990,6,6,1,2.6967,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10018,2024,3,21,1,46.9000,51.2148,33.066667,957.137145,NaN,27.25,102533.85,NaN,NaN,NaN
10019,2024,3,22,1,46.7500,50.6619,33.066667,957.137145,NaN,27.25,101756.42,NaN,NaN,NaN
10020,2024,3,25,1,46.7872,50.5648,33.066667,957.137145,NaN,27.25,100904.45,NaN,NaN,NaN
10021,2024,3,26,1,47.4040,NaN,33.066667,957.137145,NaN,27.25,102952.66,NaN,NaN,NaN
10022,2024,3,27,1,47.8222,NaN,33.066667,957.137145,NaN,27.25,104194.83,NaN,NaN,NaN