In [1]:
import pandas as pd
import numpy as np

# Read datasets
cpi = pd.read_csv('./inflationIndicatorsUpdates/cpi_data.csv')
cpi_base = pd.read_csv('./inflationIndicatorsUpdates/CPI.csv')
IR = pd.read_csv('./inflationIndicatorsUpdates/InterestRate.csv')
gdp = pd.read_csv('./inflationIndicatorsUpdates/GDP.csv')
eu = pd.read_csv('./inflationIndicatorsUpdates/EUR_USD.csv')
Ir = pd.read_csv('./inflationIndicatorsUpdates/RealInterestRate.csv')
er_usd = pd.read_csv('./inflationIndicatorsUpdates/ExchangeRate_usd.csv')
er_eur = pd.read_csv('./inflationIndicatorsUpdates/ExchangeRate_eur.csv')
unem = pd.read_csv('./inflationIndicatorsUpdates/UnemploymentRate.csv')
xau = pd.read_csv('./inflationIndicatorsUpdates/XAU_me.csv')

# Convert 'year', 'month', and 'day' columns to integers
er_usd['year'] = er_usd['year'].astype(int)
er_usd['month'] = er_usd['month'].astype(int)
er_usd['day'] = er_usd['day'].astype(int)

eu['year'] = eu['year'].astype(int)
eu['month'] = eu['month'].astype(int)
eu['day'] = eu['day'].astype(int)

er_eur['year'] = er_eur['year'].astype(int)
er_eur['month'] = er_eur['month'].astype(int)
er_eur['day'] = er_eur['day'].astype(int)


cpi['year'] = cpi['year'].astype(int)
cpi_base['year'] = cpi_base['year'].astype(int)
Ir['year'] = Ir['year'].astype(int)
xau['year'] = xau['year'].astype(int)
xau['month'] = xau['month'].astype(int)
xau['day'] = xau['day'].astype(int)

IR['year'] = IR['year'].astype(int)

gdp['year'] = gdp['year'].astype(int)

unem['year'] = unem['year'].astype(int)

er_usd.set_index(['year', 'month', 'day'], inplace=True)

# Merge datasets based on year, month, and day from er_usd DataFrame
InflationIndicator_df = (
    pd
    .merge(er_usd, er_eur, on=['year', 'month', 'day'], how='left', suffixes=('_usd', '_eur'))
    .merge(eu, on=['year', 'month', 'day'], how='left', suffixes=('_usd', '_eu'))
    .merge(xau,on=['year', 'month', 'day'], how='left', suffixes=('_usd', '_xau'))
    .merge(cpi, on=['year'], how='left', suffixes=('_usd', '_cpi'))
    .merge(cpi_base, on=['year'], how='left', suffixes=('_usd', '_cpi'))
    .merge(Ir, on=['year'], how='left', suffixes=('_usd', '_ir'))
    .merge(IR, on=['year'], how='left', suffixes=('_usd', '_ir'))
    .merge(gdp, on=['year'], how='left', suffixes=('_usd', '_gdp'))
    .merge(unem, on=['year'], how='left', suffixes=('_usd', '_unem'))
)


# Optionally, sort the combined DataFrame by the 'year', 'month', and 'day' columns
InflationIndicator_df.sort_values(['year', 'month', 'day'], inplace=True)





# Display the first few rows of the combined DataFrame
print(InflationIndicator_df.head(60))

      year  month_usd  day_usd  EGP_usd  USD_usd  EGP_eur  EUR  EUR/USD  \
0     1990          5       31        1   2.6892      NaN  NaN   1.2117
110   1990          5       31        1   2.6892      NaN  NaN   1.2117
220   1990          5       31        1   2.6892      NaN  NaN   1.2117
330   1990          5       31        1   2.6892      NaN  NaN   1.2117
440   1990          5       31        1   2.6892      NaN  NaN   1.2117
550   1990          5       31        1   2.6892      NaN  NaN   1.2117
660   1990          5       31        1   2.6892      NaN  NaN   1.2117
770   1990          5       31        1   2.6892      NaN  NaN   1.2117
880   1990          5       31        1   2.6892      NaN  NaN   1.2117
990   1990          5       31        1   2.6892      NaN  NaN   1.2117
1100  1990          5       31        1   2.6892      NaN  NaN   1.2117
1210  1990          5       31        1   2.6892      NaN  NaN   1.2117
1320  1990          6        1        1   2.6892      NaN  NaN   1.2096
1430  1990          6        1        1   2.6892      NaN  NaN   1.2096
1540  1990          6        1        1   2.6892      NaN  NaN   1.2096
1650  1990          6        1        1   2.6892      NaN  NaN   1.2096
1760  1990          6        1        1   2.6892      NaN  NaN   1.2096
1870  1990          6        1        1   2.6892      NaN  NaN   1.2096
1980  1990          6        1        1   2.6892      NaN  NaN   1.2096
2090  1990          6        1        1   2.6892      NaN  NaN   1.2096
2200  1990          6        1        1   2.6892      NaN  NaN   1.2096
2310  1990          6        1        1   2.6892      NaN  NaN   1.2096
2420  1990          6        1        1   2.6892      NaN  NaN   1.2096
2530  1990          6        1        1   2.6892      NaN  NaN   1.2096
2640  1990          6        4        1   2.6967      NaN  NaN   1.2167
2750  1990          6        4        1   2.6967      NaN  NaN   1.2167
2860  1990          6        4        1   2.6967      NaN  NaN   1.2167
2970  1990          6        4        1   2.6967      NaN  NaN   1.2167
3080  1990          6        4        1   2.6967      NaN  NaN   1.2167
3190  1990          6        4        1   2.6967      NaN  NaN   1.2167
3300  1990          6        4        1   2.6967      NaN  NaN   1.2167
3410  1990          6        4        1   2.6967      NaN  NaN   1.2167
3520  1990          6        4        1   2.6967      NaN  NaN   1.2167
3630  1990          6        4        1   2.6967      NaN  NaN   1.2167
3740  1990          6        4        1   2.6967      NaN  NaN   1.2167
3850  1990          6        4        1   2.6967      NaN  NaN   1.2167
3960  1990          6        5        1   2.6967      NaN  NaN   1.2188
4070  1990          6        5        1   2.6967      NaN  NaN   1.2188
4180  1990          6        5        1   2.6967      NaN  NaN   1.2188
4290  1990          6        5        1   2.6967      NaN  NaN   1.2188
4400  1990          6        5        1   2.6967      NaN  NaN   1.2188
4510  1990          6        5        1   2.6967      NaN  NaN   1.2188
4620  1990          6        5        1   2.6967      NaN  NaN   1.2188
4730  1990          6        5        1   2.6967      NaN  NaN   1.2188
4840  1990          6        5        1   2.6967      NaN  NaN   1.2188
4950  1990          6        5        1   2.6967      NaN  NaN   1.2188
5060  1990          6        5        1   2.6967      NaN  NaN   1.2188
5170  1990          6        5        1   2.6967      NaN  NaN   1.2188
5280  1990          6        6        1   2.6967      NaN  NaN   1.2170
5390  1990          6        6        1   2.6967      NaN  NaN   1.2170
5500  1990          6        6        1   2.6967      NaN  NaN   1.2170
5610  1990          6        6        1   2.6967      NaN  NaN   1.2170
5720  1990          6        6        1   2.6967      NaN  NaN   1.2170
5830  1990          6        6        1   2.6967      NaN  NaN   1.2170
5940  1990          6        6        1   2.6967      NaN  NaN   1.2170
6050  1990          6        6        1   2.6967      NaN  NaN   1.2170
6160  1990          6        6        1   2.6967      NaN  NaN   1.2170
6270  1990          6        6        1   2.6967      NaN  NaN   1.2170
6380  1990          6        6        1   2.6967      NaN  NaN   1.2170
6490  1990          6        6        1   2.6967      NaN  NaN   1.2170

      Unnamed: 0.1  Unnamed: 0_usd  ... Unnamed: 0_cpi        CPI  Unnamed: 0  \
0              NaN             NaN  ...           30.0  19.147187        14.0
110            NaN             NaN  ...           30.0  19.147187        14.0
220            NaN             NaN  ...           30.0  19.147187        14.0
330            NaN             NaN  ...           30.0  19.147187        14.0
440            NaN             NaN  ...           30.0  19.147187        14.0
550            NaN             NaN  ...           30.0  19.147187        14.0
660            NaN             NaN  ...           30.0  19.147187        14.0
770            NaN             NaN  ...           30.0  19.147187        14.0
880            NaN             NaN  ...           30.0  19.147187        14.0
990            NaN             NaN  ...           30.0  19.147187        14.0
1100           NaN             NaN  ...           30.0  19.147187        14.0
1210           NaN             NaN  ...           30.0  19.147187        14.0
1320           NaN             NaN  ...           30.0  19.147187        14.0
1430           NaN             NaN  ...           30.0  19.147187        14.0
1540           NaN             NaN  ...           30.0  19.147187        14.0
1650           NaN             NaN  ...           30.0  19.147187        14.0
1760           NaN             NaN  ...           30.0  19.147187        14.0
1870           NaN             NaN  ...           30.0  19.147187        14.0
1980           NaN             NaN  ...           30.0  19.147187        14.0
2090           NaN             NaN  ...           30.0  19.147187        14.0
2200           NaN             NaN  ...           30.0  19.147187        14.0
2310           NaN             NaN  ...           30.0  19.147187        14.0
2420           NaN             NaN  ...           30.0  19.147187        14.0
2530           NaN             NaN  ...           30.0  19.147187        14.0
2640           NaN             NaN  ...           30.0  19.147187        14.0
2750           NaN             NaN  ...           30.0  19.147187        14.0
2860           NaN             NaN  ...           30.0  19.147187        14.0
2970           NaN             NaN  ...           30.0  19.147187        14.0
3080           NaN             NaN  ...           30.0  19.147187        14.0
3190           NaN             NaN  ...           30.0  19.147187        14.0
3300           NaN             NaN  ...           30.0  19.147187        14.0
3410           NaN             NaN  ...           30.0  19.147187        14.0
3520           NaN             NaN  ...           30.0  19.147187        14.0
3630           NaN             NaN  ...           30.0  19.147187        14.0
3740           NaN             NaN  ...           30.0  19.147187        14.0
3850           NaN             NaN  ...           30.0  19.147187        14.0
3960           NaN             NaN  ...           30.0  19.147187        14.0
4070           NaN             NaN  ...           30.0  19.147187        14.0
4180           NaN             NaN  ...           30.0  19.147187        14.0
4290           NaN             NaN  ...           30.0  19.147187        14.0
4400           NaN             NaN  ...           30.0  19.147187        14.0
4510           NaN             NaN  ...           30.0  19.147187        14.0
4620           NaN             NaN  ...           30.0  19.147187        14.0
4730           NaN             NaN  ...           30.0  19.147187        14.0
4840           NaN             NaN  ...           30.0  19.147187        14.0
4950           NaN             NaN  ...           30.0  19.147187        14.0
5060           NaN             NaN  ...           30.0  19.147187        14.0
5170           NaN             NaN  ...           30.0  19.147187        14.0
5280           NaN             NaN  ...           30.0  19.147187        14.0
5390           NaN             NaN  ...           30.0  19.147187        14.0
5500           NaN             NaN  ...           30.0  19.147187        14.0
5610           NaN             NaN  ...           30.0  19.147187        14.0
5720           NaN             NaN  ...           30.0  19.147187        14.0
5830           NaN             NaN  ...           30.0  19.147187        14.0
5940           NaN             NaN  ...           30.0  19.147187        14.0
6050           NaN             NaN  ...           30.0  19.147187        14.0
6160           NaN             NaN  ...           30.0  19.147187        14.0
6270           NaN             NaN  ...           30.0  19.147187        14.0
6380           NaN             NaN  ...           30.0  19.147187        14.0
6490           NaN             NaN  ...           30.0  19.147187        14.0

     RealInterestRate  month  day  EGP  USD_ir  gdp_rate  UnemploymentRate
0            1.067535      5   31    1  2.6892  5.667029               NaN
110          1.067535      5   31    1  2.6892  5.667029               NaN
220          1.067535      5   31    1  2.6892  5.667029               NaN
330          1.067535      5   31    1  2.6892  5.667029               NaN
440          1.067535      5   31    1  2.6892  5.667029               NaN
550          1.067535      5   31    1  2.6892  5.667029               NaN
660          1.067535      5   31    1  2.6892  5.667029               NaN
770          1.067535      5   31    1  2.6892  5.667029               NaN
880          1.067535      5   31    1  2.6892  5.667029               NaN
990          1.067535      5   31    1  2.6892  5.667029               NaN
1100         1.067535      5   31    1  2.6892  5.667029               NaN
1210         1.067535      5   31    1  2.6892  5.667029               NaN
1320         1.067535      5   31    1  2.6892  5.667029               NaN
1430         1.067535      5   31    1  2.6892  5.667029               NaN
1540         1.067535      5   31    1  2.6892  5.667029               NaN
1650         1.067535      5   31    1  2.6892  5.667029               NaN
1760         1.067535      5   31    1  2.6892  5.667029               NaN
1870         1.067535      5   31    1  2.6892  5.667029               NaN
1980         1.067535      5   31    1  2.6892  5.667029               NaN
2090         1.067535      5   31    1  2.6892  5.667029               NaN
2200         1.067535      5   31    1  2.6892  5.667029               NaN
2310         1.067535      5   31    1  2.6892  5.667029               NaN
2420         1.067535      5   31    1  2.6892  5.667029               NaN
2530         1.067535      5   31    1  2.6892  5.667029               NaN
2640         1.067535      5   31    1  2.6892  5.667029               NaN
2750         1.067535      5   31    1  2.6892  5.667029               NaN
2860         1.067535      5   31    1  2.6892  5.667029               NaN
2970         1.067535      5   31    1  2.6892  5.667029               NaN
3080         1.067535      5   31    1  2.6892  5.667029               NaN
3190         1.067535      5   31    1  2.6892  5.667029               NaN
3300         1.067535      5   31    1  2.6892  5.667029               NaN
3410         1.067535      5   31    1  2.6892  5.667029               NaN
3520         1.067535      5   31    1  2.6892  5.667029               NaN
3630         1.067535      5   31    1  2.6892  5.667029               NaN
3740         1.067535      5   31    1  2.6892  5.667029               NaN
3850         1.067535      5   31    1  2.6892  5.667029               NaN
3960         1.067535      5   31    1  2.6892  5.667029               NaN
4070         1.067535      5   31    1  2.6892  5.667029               NaN
4180         1.067535      5   31    1  2.6892  5.667029               NaN
4290         1.067535      5   31    1  2.6892  5.667029               NaN
4400         1.067535      5   31    1  2.6892  5.667029               NaN
4510         1.067535      5   31    1  2.6892  5.667029               NaN
4620         1.067535      5   31    1  2.6892  5.667029               NaN
4730         1.067535      5   31    1  2.6892  5.667029               NaN
4840         1.067535      5   31    1  2.6892  5.667029               NaN
4950         1.067535      5   31    1  2.6892  5.667029               NaN
5060         1.067535      5   31    1  2.6892  5.667029               NaN
5170         1.067535      5   31    1  2.6892  5.667029               NaN
5280         1.067535      5   31    1  2.6892  5.667029               NaN
5390         1.067535      5   31    1  2.6892  5.667029               NaN
5500         1.067535      5   31    1  2.6892  5.667029               NaN
5610         1.067535      5   31    1  2.6892  5.667029               NaN
5720         1.067535      5   31    1  2.6892  5.667029               NaN
5830         1.067535      5   31    1  2.6892  5.667029               NaN
5940         1.067535      5   31    1  2.6892  5.667029               NaN
6050         1.067535      5   31    1  2.6892  5.667029               NaN
6160         1.067535      5   31    1  2.6892  5.667029               NaN
6270         1.067535      5   31    1  2.6892  5.667029               NaN
6380         1.067535      5   31    1  2.6892  5.667029               NaN
6490         1.067535      5   31    1  2.6892  5.667029               NaN

[60 rows x 24 columns]

In [37]:
InflationIndicator_df

,year,month,day,EGP_usd,USD,EGP_eur,EUR,EUR/USD,cpi_rate,Unnamed: 0_usd,CPI,Unnamed: 0_ir,RealInterestRate,Unnamed: 0.1,Unnamed: 0,XAU_Price,InterestRate,gdp_rate,UnemploymentRate
0,1990,5,31,1,2.6892,NaN,NaN,1.2117,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
1,1990,6,1,1,2.6892,NaN,NaN,1.2096,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
2,1990,6,4,1,2.6967,NaN,NaN,1.2167,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
3,1990,6,5,1,2.6967,NaN,NaN,1.2188,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
4,1990,6,6,1,2.6967,NaN,NaN,1.2170,NaN,30,19.147187,14.0,1.067535,NaN,NaN,NaN,NaN,5.667029,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10018,2024,3,21,1,46.9000,1.0,51.2148,NaN,33.066667,64,957.137145,NaN,NaN,1726.0,20.0,102533.85,27.25,NaN,NaN
10019,2024,3,22,1,46.7500,1.0,50.6619,NaN,33.066667,64,957.137145,NaN,NaN,1727.0,19.0,101756.42,27.25,NaN,NaN
10020,2024,3,25,1,46.7872,1.0,50.5648,NaN,33.066667,64,957.137145,NaN,NaN,1728.0,18.0,100904.45,27.25,NaN,NaN
10021,2024,3,26,1,47.4040,NaN,NaN,NaN,33.066667,64,957.137145,NaN,NaN,1729.0,17.0,102952.66,27.25,NaN,NaN
10022,2024,3,27,1,47.8222,NaN,NaN,NaN,33.066667,64,957.137145,NaN,NaN,1730.0,16.0,104194.83,27.25,NaN,NaN

In [38]:
InflationIndicator_df.columns

Index(['year', 'month', 'day', 'EGP_usd', 'USD', 'EGP_eur', 'EUR', 'EUR/USD',
       'cpi_rate', 'Unnamed: 0_usd', 'CPI', 'Unnamed: 0_ir',
       'RealInterestRate', 'Unnamed: 0.1', 'Unnamed: 0', 'XAU_Price',
       'InterestRate', 'gdp_rate', 'UnemploymentRate'],
      dtype='object')

In [40]:
cont = InflationIndicator_df[['year', 'month', 'day', 'EGP_usd', 'USD', "EUR", 'cpi_rate', 'CPI','RealInterestRate', 'InterestRate', 'XAU_Price', 'gdp_rate', 'UnemploymentRate', 'EUR/USD']]
cont = cont.rename( columns={ 'EGP_usd': 'USD_EUR_value', 'USD': 'USD_EGP', 'EUR': 'EUR_EGP', 'CPI': 'cpi_base_2010'})

In [41]:
cont.to_csv('./inflationIndicatorsUpdates/InflationIndicators.csv', index= False)

In [42]:
import pandas as pd
df = pd.read_csv('./inflationIndicatorsUpdates/InflationIndicators.csv')

In [43]:
df

,year,month,day,USD_EUR_value,USD_EGP,EUR_EGP,cpi_rate,cpi_base_2010,RealInterestRate,InterestRate,XAU_Price,gdp_rate,UnemploymentRate,EUR/USD
0,1990,5,31,1,2.6892,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2117
1,1990,6,1,1,2.6892,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2096
2,1990,6,4,1,2.6967,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2167
3,1990,6,5,1,2.6967,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2188
4,1990,6,6,1,2.6967,NaN,NaN,19.147187,1.067535,NaN,NaN,5.667029,NaN,1.2170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10018,2024,3,21,1,46.9000,51.2148,33.066667,957.137145,NaN,27.25,102533.85,NaN,NaN,NaN
10019,2024,3,22,1,46.7500,50.6619,33.066667,957.137145,NaN,27.25,101756.42,NaN,NaN,NaN
10020,2024,3,25,1,46.7872,50.5648,33.066667,957.137145,NaN,27.25,100904.45,NaN,NaN,NaN
10021,2024,3,26,1,47.4040,NaN,33.066667,957.137145,NaN,27.25,102952.66,NaN,NaN,NaN
10022,2024,3,27,1,47.8222,NaN,33.066667,957.137145,NaN,27.25,104194.83,NaN,NaN,NaN